robot_localization_debug.txt
t21_debug_log.txt
build/
install/
log/
.vscode
src/.vscode
frames_*
rosbag2_*
rosbags/
rosgraph.png
rtabmap_nomap.png
src/.vscode
pkg.txt
maps/
maps*
src/USR-DR134-GUI/
morning_test_oka_setup/
morning_test_oka_setup.zip
results/
bluespace_ai_xsens_ros_mti_driver.tar.xz
src/direct_lidar_inertial_odometry.zip
src/velodyne_simulator/
src/t21_teleop/t21_teleop/__pycache_
imu_data*/
cartographer_maps/
general_record/
*.csv
*.png
src/imu_calib/
src/imu_calib/imu_lidar_calibration.zip
li_calib.zip
*.pyc
*.zip
*.tar.xz    
*.7z
*.log
*.bag
plot_venv/
__pycache__/
imu_calib/

COLCON_IGNORE