<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- ===========================================================
       Определяем ROS 2 Control-блок для гусеничной платформы Т-21
       Параметр prefix (по-умолчанию пустой) позволяет запускать
       несколько роботов в одном графе.
  ================================================================= -->
  <xacro:macro name="t21_ros2_control" params="name prefix">

    <ros2_control name="${name}_hw" type="system">
      <!-- аппаратный плагин -->
      <hardware>
        <plugin>t21_hardware/T21TrackedHardware</plugin>
      </hardware>

      <!-- виртуальный сустав линейной скорости -->
      <joint name="${prefix}wheel_left_joint">
        <command_interface name="velocity"/>
        <state_interface   name="velocity"/>
        <state_interface name="position"/>
      </joint>

      <!-- виртуальный сустав угловой скорости -->
      <joint name="${prefix}wheel_right_joint">
        <command_interface name="velocity"/>
        <state_interface   name="velocity"/>
        <state_interface name="position"/>
      </joint>

      <!-- реальный сустав флиппера / стрелы -->
      <joint name="${prefix}geom_joint">
        <command_interface name="position"/>
        <state_interface   name="position"/>
      </joint>
    </ros2_control>

  </xacro:macro>
    <!-- Вызываем макрос, передавая имя и префикс -->
    <xacro:t21_ros2_control name="t21" prefix="$(arg prefix)"/>
  
</robot>
