<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tracked_robot">

  <!-- Materials -->
  <material name="grey">
    <color rgba="0.56471 0.56471 0.56471 1"/>
  </material>
  
  <material name="white">
    <color rgba="1 1 1 0"/>
  </material>
  
  <material name="light_blue">
    <color rgba="0.79216 0.81961 0.93333 1"/>
  </material>

  <!-- Base Link -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0023851 -2.6804E-12 0.049804" rpy="0 0 0"/>
      <mass value="24.218"/>
      <inertia ixx="0.38879" ixy="-2.3825E-10" ixz="-0.0015299" iyy="0.63474" iyz="-6.2968E-13" izz="0.97264"/>
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find t21_sim)/meshes/base_link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find t21_sim)/meshes/base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <!-- Left Wheel -->
  <link name="wheel_left_link">
    <inertial>
      <origin xyz="0 -0.015 0" rpy="0 0 0"/>
      <mass value="0.50915"/>
      <inertia ixx="0.00072583" ixy="3.5474E-36" ixz="-1.9259E-34" iyy="0.0013753" iyz="-2.0195E-21" izz="0.00072583"/>
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find t21_sim)/meshes/left_wheel_link.STL" scale="1.0 0.1 1.0"/>
      </geometry>
      <material name="white"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find t21_sim)/meshes/left_wheel_link.STL" scale="1.0 0.1 1.0"/>
      </geometry>
    </collision>
  </link>

  <joint name="wheel_left_joint" type="continuous">
    <origin xyz="-0.015028 0.2025 0.04" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <axis xyz="0 1 0"/>
    <limit effort="10" velocity="10"/>
    <dynamics friction="0.1"/>
  </joint>

  <!-- Right Wheel -->
  <link name="wheel_right_link">
    <inertial>
      <origin xyz="0 0.015 0" rpy="0 0 0"/>
      <mass value="0.50915"/>
      <inertia ixx="0.00072583" ixy="-2.0887E-36" ixz="9.1015E-36" iyy="0.0013753" iyz="4.7568E-21" izz="0.00072583"/>
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find t21_sim)/meshes/right_wheel_link.STL" scale="1.0 0.1 1.0"/>
      </geometry>
      <material name="white"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find t21_sim)/meshes/right_wheel_link.STL" scale="1.0 0.1 1.0"/>
      </geometry>
    </collision>
  </link>

  <joint name="wheel_right_joint" type="continuous">
    <origin xyz="-0.015028 -0.2025 0.04" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <axis xyz="0 1 0"/>
    <limit effort="10" velocity="10"/>
    <dynamics friction="0.1"/>
  </joint>

  <!-- Flipper -->
  <link name="fliper_link">
    <inertial>
      <origin xyz="0.10581 -0.24294 -0.0083667" rpy="0 0 0"/>
      <mass value="2.7683"/>
      <inertia ixx="0.0029923" ixy="1.2514E-05" ixz="0.0017391" iyy="0.037286" iyz="-9.2678E-07" izz="0.03494"/>
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find t21_sim)/meshes/fliper_link.STL"/>
      </geometry>
      <material name="light_blue"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find t21_sim)/meshes/fliper_link.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="fliper_joint" type="revolute">
    <origin xyz="0.222 0.2435 0.04" rpy="0 3.25 0"/>
    <parent link="base_link"/>
    <child link="fliper_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0.174533" upper="5.93412" effort="1000" velocity="1"/>
  </joint>

  <link name="big_box_link">
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find t21_sim)/meshes/control_box.STL"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find t21_sim)/meshes/control_box.STL"/>
        </geometry>
        <material name="light_blue"/>
      </visual>
  </link>
  
  <joint name="big_box_joint" type="fixed">
    <parent link="base_link"/><child link="big_box_link"/>
    <origin xyz="0.165 0.0 0.104" rpy="0 0 0"/>
  </joint>

  <link
    name="camera_base_link">
    <inertial>
      <origin
        xyz="0.00236723430443658 0.00284830369666845 1.86648075149107E-05"
        rpy="0 0 0" />
      <mass
        value="0.0798291622805554" />
      <inertia
        ixx="0.000122650398243472"
        ixy="-5.35688945763538E-07"
        ixz="4.40692500921343E-08"
        iyy="2.06507530748284E-05"
        iyz="-5.04471506920737E-08"
        izz="0.000119910604769246" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find t21_sim)/meshes/camera_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find t21_sim)/meshes/camera_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.148648549421411 -0.00168373549133136 0.0396301545012917"
      rpy="0 0 0" />
    <parent
      link="big_box_link" />
    <child
      link="camera_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- Gazebo extensions -->
  <gazebo reference="base_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
  </gazebo>

  <gazebo reference="left_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
  </gazebo>

  <gazebo reference="right_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
  </gazebo>

  <gazebo reference="fliper_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
  </gazebo>

</robot>