<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    
  <xacro:property name="camera_translation" value="0.1739 0.0 0.026"/>

    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>
    <!-- Аргументы realsense -->
    <!-- TODO change camera pith to match real one -->
    <xacro:arg name="use_nominal_extrinsics" default="false"/>
    <xacro:arg name="add_plug" default="false" />
    <xacro:arg name="use_mesh" default="true" />
    <xacro:sensor_d435 parent="big_box_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
      <origin xyz="${camera_translation}" rpy="0 0 0"/>
    </xacro:sensor_d435>

</robot>