<?xml version="1.0"?>
<robot name="t21" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ──────────────── CONSTANTS ──────────────── -->
  <xacro:property name="scale_small" value="1"/>
  <xacro:property name="scale_big" value="0.001"/>
  <xacro:property name="color_grey"  value="0.6 0.6 0.6 1.0"/>

  <!-- ──────────────── MACROS ──────────────── -->
  <xacro:macro name="add_link" params="name mesh scale color rpy xyz">
    <link name="${name}">
      <collision>
        <origin rpy="${rpy}" xyz="${xyz}"/>
        <geometry>
          <mesh filename="file://$(find tracked_description)/mesh/${mesh}"
                scale="${scale} ${scale} ${scale}"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="${rpy}" xyz="${xyz}"/>
        <geometry>
          <mesh filename="file://$(find tracked_description)/mesh/${mesh}"
                scale="${scale} ${scale} ${scale}"/>
        </geometry>
        <material name="Grey">
          <color rgba="${color}"/>
        </material>
      </visual>
    </link>
  </xacro:macro>

  <!-- ──────────────── BASE ──────────────── -->
  <xacro:add_link  name="base_link"
                   mesh="base.stl"
                   scale="${scale_small}"
                   color="${color_grey}"
                   rpy="0 0 0"
                   xyz="0 0 0"/>

  <!-- ──────────────── FLIPPER / GEOMETRY ──────────────── -->
  <xacro:add_link  name="geom_link"
                   mesh="fliper.stl"
                   scale="${scale_small}"
                   color="${color_grey}"
                   rpy="0 0 0"
                   xyz="0 0 0"/>

  <joint name="geom_joint" type="revolute">
    <parent link="base_link"/>
    <child  link="geom_link"/>
    <origin xyz="0.22513 0.1925 0.07335" rpy="-1.57 4.71239 0"/>
    <axis   xyz="0 0 1"/>
    <limit lower="0.174533" upper="5.93412" effort="1000" velocity="1"/>
  </joint>

  <!-- ──────────────── VIRTUAL JOINTS FOR SPEEDS ──────────────── -->
  <link name="wheel_left_link">
    <inertial>
      <mass value="1e-6"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="wheel_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <origin xyz="0 0.1865 0.065" rpy="0 0 0"/>
    <axis   xyz="0 1 0"/>
  </joint>

  <link name="wheel_right_link">
    <inertial>
    <mass value="1e-6"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  
  <joint name="wheel_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <origin xyz="0 -0.1865 0.065" rpy="0 0 0"/>
    <axis   xyz="0 1 0"/>
  </joint>

  <!-- ──────────────── BOX AND SENSORS ──────────────── -->
  <xacro:add_link  name="big_box_link"
                   mesh="control_box.STL"
                   scale="${scale_small}"
                   color="${color_grey}"
                   rpy="0 0 0"
                   xyz="0 0 0"/>

  <joint name="big_box_joint" type="fixed">
    <parent link="base_link"/>
    <child link="big_box_link"/>
    <origin xyz="0.165 0.0 0.139" rpy="0 0 0"/>
  </joint>
</robot>