<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tank_robot">

  <!-- === Блок ROS2 Control (Аппаратный интерфейс) === -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <!-- Связка с Gazebo через GazeboSystem -->
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <!-- Колёса, управляющиеся по скорости (velocity) -->
    <!-- 

    <joint name="front_left_wheel_joint">
      <command_interface name="velocity">
          <param name="min">-10.0</param>
          <param name="max">10.0</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>

    </joint>
    
    <joint name="front_right_wheel_joint">
      <command_interface name="velocity">
          <param name="min">-10.0</param>
          <param name="max">10.0</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>


    </joint>

    <joint name="rear_left_wheel_joint">
      <command_interface name="velocity">
          <param name="min">-10.0</param>
          <param name="max">10.0</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>



    </joint>

    <joint name="rear_right_wheel_joint">
      <command_interface name="velocity">
          <param name="min">-10.0</param>
          <param name="max">10.0</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>


    </joint> 

        <joint name="front_left_mid_wheel_joint">
      <command_interface name="velocity">
          <param name="min">-10.0</param>
          <param name="max">10.0</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>


    </joint>


    <joint name="rear_left_mid_wheel_joint">
      <command_interface name="velocity">
          <param name="min">-10.0</param>
          <param name="max">10.0</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>


    </joint>

    <joint name="front_right_mid_wheel_joint">
      <command_interface name="velocity">
          <param name="min">-10.0</param>
          <param name="max">10.0</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>

    </joint>

    <joint name="rear_right_mid_wheel_joint">
      <command_interface name="velocity">
          <param name="min">-10.0</param>
          <param name="max">10.0</param>
      </command_interface>
      <state_interface name="velocity"/>
      <state_interface name="position"/>



    </joint>  -->

            <!-- <param name="vel_kp">10</param>
     <param name="vel_ki">5</param>
     <param name="vel_kd">2</param>
     <param name="vel_max_integral_error">10000</param> -->


<!-- контроллеры флипперов -->
    <joint name="front_left_flipper_joint">
      <command_interface name="position">
        <param name="min">-0.5</param>
        <param name="max">0.5</param>
      </command_interface>

      <state_interface name="position">
        <param name="initial_value">-0.0</param>
      </state_interface>

     <param name="pos_kp">1000</param>
     <param name="pos_ki">10</param>
     <param name="pos_kd">20</param>
     <param name="pos_max_integral_error">10000</param>

    </joint>
    
    <joint name="front_right_flipper_joint">
      <command_interface name="position">
        <param name="min">-0.5</param>
        <param name="max">0.5</param>
      </command_interface>      
      <state_interface name="position">
        <param name="initial_value">-0.0</param>
      </state_interface>
      <param name="pos_kp">1000</param>
     <param name="pos_ki">10</param>
     <param name="pos_kd">20</param>
     <param name="pos_max_integral_error">10000</param>
    </joint>

    <joint name="rear_left_flipper_joint">
      <command_interface name="position">
        <param name="min">-0.5</param>
        <param name="max">0.5</param>
      </command_interface>      
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <param name="pos_kp">1000</param>
     <param name="pos_ki">10</param>
     <param name="pos_kd">20</param>
     <param name="pos_max_integral_error">10000</param>
    </joint>

    <joint name="rear_right_flipper_joint"> 
      <command_interface name="position">
        <param name="min">-0.5</param>
        <param name="max">0.5</param>    
      </command_interface>  
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface> 

      <param name="pos_kp">1000</param>
     <param name="pos_ki">10</param>
     <param name="pos_kd">20</param>
     <param name="pos_max_integral_error">10000</param>
    </joint>

  </ros2_control>


  <!-- 
    УБРАН (или закомментирован) плагин <gazebo_ros2_control>, так как
    мы используем отдельный узел ros2_control_node, а не плагин внутри <gazebo>. 
  -->
  <!-- -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <!-- <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node> -->
        <parameters>$(find my_tank_robot)/config/my_tank_robot_controllers.yaml</parameters>
    </plugin>
  </gazebo>
  

</robot>
