<?xml version="1.0"?>
<robot name="tank_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Подключаем базовую модель (шасси, колёса, флипперы и т.д.) -->
  <xacro:include filename="tank_robot_base.xacro"/>

  <!-- Подключаем описание ros2_control -->
  <xacro:include filename="tank_robot_ros2control.xacro"/> 

  <!-- Подключаем описание управление шасси при помощие Gazebo 
  <xacro:include filename="tank_robot_gazebo_control.xacro"/> -->

</robot>
