<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="t21">
  <xacro:arg name="prefix" default=""/>

  <!-- геометрия -->
  <xacro:include filename="$(find t21_sim)/urdf/tracked_robot.urdf.xacro"/>

  <xacro:include filename="$(find t21_sim)/config/t21.ros2_control.xacro"/>
    <!-- блок симуляции VLP-16-->
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:VLP-16 parent="lidar_link" 
                name="velodyne" 
                topic="/velodyne_points" 
                organize_cloud="true" 
                hz="10" 
                lasers="16"
                samples="400" 
                min_range="0.5" 
                max_range="25.0"    
                min_angle="-3.14159265359"  
                max_angle="3.14159265359" 
                gpu="false">
                <origin xyz="0 0 0" rpy="0 0 0" />
   </xacro:VLP-16>
  
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <!-- Аргументы realsense -->
  <!-- TODO change camera pith to match real one -->
  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:arg name="add_plug" default="false" />
  <xacro:arg name="use_mesh" default="true" />
  <xacro:sensor_d435 parent="big_box_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
    <origin xyz="0.06 0.09 0.018" rpy="0 0.015 0"/>
  </xacro:sensor_d435>
  <xacro:include filename="$(find t21_sim)/urdf/depth_camera.xacro" />
  <xacro:include filename="$(find t21_sim)/urdf/imu.xacro"/>
</robot>
